@font-face {
    font-family: "FixelDisplay";
    font-weight: 400;
    font-style: normal;
    src: url('@/assets/fonts/Fixel/FixelDisplay-Regular.woff2') format('woff2')
}
@font-face {
    font-family: "FixelDisplay-Bold";
    font-weight: 700;
    font-style: normal;
    src: url('@/assets/fonts/Fixel/FixelDisplay-Bold.woff2') format('woff2')
}
body {
    font-family: 'FixelDisplay', sans-serif !important;
}